* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.left {
    background-color: blue;
    padding: 20px;
    width: 20%;
}

.middle {
    background-color: aquamarine;
    padding: 20px;
    width: 60%;
}

.right {
    background-color: blue;
    padding: 20px;
    width: 20%;
}

/*Use media query to add a break point at 800px*/
@media screen and(max-width:600px){
    .left,.middle,.right{
        width:100%;/*The width is 100% when the viewpost is 800px or smaller*/
    }
}